<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/tasks.css">
    <title>ToDo List</title>
</head>

<body>
    <div class="container">
        <h1>ToDo List</h1>
        <form action="http://localhost:3000/api/tasks/createTask" method="post" class="task-form">
            <input type="text" name="text" placeholder="Enter your task" required>
            <button type="submit">Add Task</button>
        </form>
        <div class="task-list">
            <% if (Array.isArray(tasks) && tasks.length > 0) { %>
                <% tasks.forEach(task => { %>
                    <div class="task-item" data-id="<%= task.id %>">
                        <p class="task-text <%= task.completed ? 'completed' : '' %>">
                            <%= task.text %> -
                                <%= task.completed ? 'Completed' : 'Not Completed' %>
                        </p>
                        <div class="task-actions">
                            <form action="http://localhost:3000/api/tasks/deleteTask/<%= task.id %>" method="post" class="action-form">
                                <button class="delete-btn" type="submit">Delete</button>
                            </form>
                            <form action="http://localhost:3000/api/tasks/updateTask/<%= task.id %>" method="post" class="action-form">
                                <button class="update-btn" type="submit">Update</button>
                            </form>
                        </div>
                    </div>
                    <% }); %>
                        <% } else { %>
                            <p class="no-tasks">No tasks available</p>
                            <% } %>
        </div>
        <form action="http://localhost:3000/api/tasks/deleteTasks" method="post" class="clear-form">
            <button type="submit" class="clearall">Clear All</button>
        </form>
    </div>
</body>

</html>